@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap');

body {
	color: HotPink;
	color: #FF69B4;

	background-color: black;

	font-size: 24px;
}

a {
	color: gold;
	font-family: "Manufacturing Consent", system-ui;
}

h1 {
	font-family: Andale Mono, monospace;
	border-width: 6px;
    border-style: solid;
    border-radius: 22px;
    padding: .5em 1em;
    text-align: center;
    /*margin: 1em;*/
}

p {
	font-family: palatino, serif;
	font-size: 1.2em;
	/*font-size: 12px;*/
}

div#container {
	margin: 0 auto;
	max-width: 800px;
}

img {
	width: 100%;
}

video {
	width: 100%;
}

img#abstract-image {
	width: 200px;
}